---
layout: home
maxPostCards: 5
---

	<!-- Page Content -->

	<div class="page_content">
		<div class="container">
			<div class="row row-lg-eq-height">

				<!-- Main Content -->

				<div class="col-lg-9">
					<div class="main_content">

						<!-- Blog Section - Latest -->

						<div class="blog_section">
							<div class="section_panel d-flex flex-row align-items-center justify-content-start">
								<div class="section_title">Latest Articles</div>
							</div>
							<div class="section_content">
								<div class="grid clearfix">
									{% assign post_max = site.posts | size | minus: 1 %}
									{% assign next_group = page.maxPostCards | minus: 1 %}
									{% for post_n in (0..post_max) %}
										{% assign post_pos = post_n | modulo: page.maxPostCards %}
									<div class="home-card {{post_group}}">
										{% assign post = site.posts[post_n] %}
										{% include post_card.html %}
									</div>
										{% if post_pos == next_group and post_n < post_max %}
											{% assign prev_group = post_group %}
											{% capture post_group %}home-paginator-group-{% increment post_group %} home-paginator-hidden{% endcapture %}
										{% endif %}
									{% endfor %}
								</div>
								
							</div>
						</div>
					</div>
					<div class="load_more">
						<div id="load_more" class="load_more_button text-center trans_200" data-group="0">Show More</div>
					</div>
				</div>

				{% include sidebar.html %}
			</div>
		</div>
	</div>
