---
layout: base
custom: regular
---

	<!-- Home -->

	<div class="home">
		{% assign cover = page.cover | default: site.cover %}
		<div class="home_slider_background parallax-window" data-parallax="scroll" data-image-src="{{ cover }}" data-speed="0.8"></div>
	</div>
	
	<!-- Page Content -->

	<div class="page_content">
		<div class="container">
			<div class="row row-lg-eq-height">

				<!-- Post Content -->

				<div class="col-lg-9">
					<div class="post_content">
						{{ content }}
					</div>
				</div>

				{% if layout.sidebar or page.sidebar %}
					{% include sidebar.html %}
				{% endif %}
			</div>
		</div>
	</div>
