---
layout: base
styles: regular
scripts: post_scripts.html
---

	<!-- Home -->

	<div class="home">
		<div class="home_background parallax-window" data-parallax="scroll" data-image-src="/images/portada_home_suecia_estocolmo.jpg" data-speed="0.8"></div>
	</div>
	
	<!-- Page Content -->

	<div class="page_content">
		<div class="container">
			<div class="row row-lg-eq-height">

				<!-- Post Content -->

				<div class="col-lg-9">
					<div class="post_content">
						{{ content }}
					</div>
				</div>

				{% if layout.sidebar or page.sidebar %}
					{% include sidebar.html %}
				{% endif %}
			</div>
		</div>
	</div>
