---
layout: base
custom: post

onRelatedPost: post_card.html
---
{% assign page.author = page.author | default: "rocio" %}
{% assign author = site.authors[page.author] %}

	<!-- Home -->

	<div class="home">
		{% assign cover = page.cover | default: site.cover %}
		<div class="home_slider_background parallax-window" data-parallax="scroll" data-image-src="{{cover}}" data-speed="0.8"></div>
		<div class="home_content">
			<ul>
			{% for category in page.categories %}
				<li class="post_category trans_200">
					<a href="/{{site.category_path}}/{{category}}" class="trans_200">{{ site.category_names[category] }}</a>
				</li>
			{% endfor %}
			</ul>
			<div class="post_title">{{ page.title }}</div>
		</div>
	</div>
	
	<!-- Page Content -->

	<div class="page_content">
		<div class="container">
			<div class="row row-lg-eq-height">

				<!-- Post Content -->

				<div class="col-lg-9">
					<div class="post_content">

						<!-- Top Panel -->
						<div class="post_panel post_panel_top d-flex flex-row align-items-center justify-content-start">
							{% include post_panel.html %}
						</div>

						<!-- Post Body -->
						<div class="post_body">
							{{ content }}
						</div>
						
						<!-- Bottom Panel -->
						<div class="post_panel bottom_panel d-flex flex-row align-items-center justify-content-start">
							{% include post_panel.html %}
						</div>

						<!-- Similar Posts -->
						<div class="similar_posts">
							<div class="grid clearfix">
								{% include related_posts.html %}
							</div>

							<!-- Post Comment -->
							{% if page.comments %}
							<div class="comments">
								<div id="disqus_thread"></div>
								<script>

								/**
								*	RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
								*	LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
								/*
								var disqus_config = function () {
								this.page.url = PAGE_URL;	// Replace PAGE_URL with your page's canonical URL variable
								this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
								};
								*/
								(function() { // DON'T EDIT BELOW THIS LINE
								var d = document, s = d.createElement('script');
								s.src = 'https://730-dias-hasta-suecia.disqus.com/embed.js';
								s.setAttribute('data-timestamp', +new Date());
								(d.head || d.body).appendChild(s);
								})();
								</script>
								<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
							{% endif %}
							</div>
						</div>
					</div>
				</div>

				{% include sidebar.html %}

			</div>
		</div>
	</div>