---
---
@charset "UTF-8";
@import "main";

.parallax-window
{
    min-height: 400px;
    background: transparent;
}

/*********************************
5. Home
*********************************/

.home
{
	width: 100%;
	height: 360px;
}
.home_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.home_content
{
	position: absolute;
	top: 59%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	max-width: 440px;
	text-align: center;
}
.post_category
{
	margin: 0 auto;
}
.post_category
{
	display: inline-block;
	width: 83px;
	height: 28px;
	background: rgba(255,255,255,0.2);
	border-radius: 14px;
	text-align: center;
}
.post_category a
{
	display: block;
	line-height: 28px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
	color: rgba(255,255,255,1);
	text-transform: uppercase;
}
.post_category:hover
{
	background: rgba(255,255,255,1);
}
.post_category:hover a
{
	color: rgba(0,0,0,0.8);
}
.post_title
{
	font-size: 24px;
	color: #FFFFFF;
	font-weight: 600;
	margin-top: 19px;
}
.home_slider_nav_container
{
	position: absolute;
	bottom: 264px;
	left: calc(((100vw - 1170px) / 2) + (1170px * 0.75) + 8px);
}
.custom_dots
{
	display: inline-block;
	height: 12px;
	margin-left: 7px;
	margin-right: 7px;
}
.custom_dot
{
	display: inline-block;
	padding: 2px;
	cursor: pointer;
}
.custom_dot span
{
	display: block;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: rgba(255,255,255,0.35);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.custom_dot.active span
{
	background: rgba(255,255,255,1);
}
.custom_dot:hover span
{
	background: rgba(255,255,255,1);
}
.custom_prev,
.custom_next
{
	cursor: pointer;
}
.custom_prev, .custom_next
{
	display: inline-block;
	vertical-align: middle;
}
.custom_prev svg polyline,
.custom_next svg polyline
{
	fill: rgba(255,255,255,0.35);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.custom_prev:hover svg polyline,
.custom_next:hover svg polyline
{
	fill: rgba(255,255,255,1);
}

/*********************************
6. Post Content
*********************************/

.page_content
{
	background: #f7f7f7;
}
.category
{
	margin-top: 80px;
}

/*********************************
6.1 Post Panel
*********************************/

.post_panel
{
	height: 108px;
	z-index: 10;
	margin-top: 40px;
}
.author_image
{
	
}
.author_image div
{
	width: 58px;
	height: 58px;
	border: solid 5px #FFFFFF;
	border-radius: 50%;
	overflow: hidden;
}
.author_image div img
{
	max-width: 100%;
}
.post_panel .post_meta
{
	font-family: 'Ubuntu', sans-serif;
	color: rgba(0,0,0,0.25);
	font-size: 14px;
	font-weight: 500;
	margin-left: 20px;
	margin-top: 0;
}
.post_panel .post_meta a,
.post_panel .post_meta span
{
	display: inline-block;
	position: relative;
	font-family: 'Ubuntu', sans-serif;
	color: rgba(0,0,0,0.25);
	font-size: 14px;
	font-weight: 500;
}
.post_panel .post_meta span
{
	margin-left: 10px;
	padding-left: 5px;
}
.post_panel  .post_meta span::before
{
	display: block;
	position: absolute;
	top: 1px;
	left: -4px;
	content: '•';
}
.post_share span
{
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	color: rgba(0,0,0,0.2);
	letter-spacing: 0.075em;
	font-weight: 700;
	margin-right: 28px;
}
.post_share_list
{
	display: inline-block;
}
.post_share_item
{
	display: inline-block;
}
.post_share_item:not(:last-child)
{
	margin-right: 15px;
}
.post_share_item a i
{
	font-size: 14px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.fa-facebook
{
	color: #3b5999;
}
.fa-twitter
{
	color: #55acee;
}
.fa-google
{
	color: #dd4b39;
}
.post_share_item:hover a i
{
	color: rgba(0,0,0,0.2);
}

/*********************************
6.2 Post Body
*********************************/

.post_body
{
	padding-left: 69px;
	padding-top: 59px;
	padding-right: 100px;
	padding-bottom: 45px;
	background: #FFFFFF;
	border-radius: 6px;
}
.post_p
{
	font-size: 16px;
	line-height: 1.875;
	color: rgba(0,0,0,0.8);
}
.post_body figure
{
	width: 100%;
	margin-top: 40px;
	margin-bottom: 43px;
}
.post_body figure img
{
	max-width: 100%;
}
.post_body figcaption
{
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
	font-style: italic;
	color: rgba(0,0,0,0.3);
	text-align: center;
	margin-top: 8px;
}
.post_quote
{
	padding-top: 58px;
	padding-bottom: 58px;
	padding-left: 30px;
	padding-right: 30px;
}
.post_quote .post_p
{
	font-weight: 600;
	font-size: 16px;
}
.post_quote_source
{
	font-size: 16px;
	font-weight: 500;
	color: rgba(0,0,0,0.5);
	margin-top: 21px;
}
.post_tags
{
	margin-top: 40px;
}
.post_tag
{
	display: inline-block;
	width: auto;
	height: 24px;	border: solid 1px #d7d7d7;
	border-radius: 3px;
	background: transparent;
	margin-bottom: 5px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.post_tag:not(:last-child)
{
	margin-right: 6px;
}
.post_tag a
{
	display: block;
	line-height: 22px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
	padding-left: 10px;
	padding-right: 10px;
	color: rgba(0,0,0,0.5);
	font-weight: 500;
}
.post_tag:hover
{
	background: #ededed;
	border-color: #ededed;
}
.bottom_panel
{
	margin-top: 0;
}

/*********************************
6.3 Similar Posts
*********************************/

.similar_posts
{
	margin-top: 15px;
}

/*********************************
6.4 Post Comment
*********************************/

.post_comment
{
	margin: 70px;
}
.post_comment_title
{
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	color: rgba(0,0,0,0.8);
	font-weight: 700;
}
.post_comment_form_container
{
	width: 100%;
	background: #FFFFFF;
	border-radius: 6px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 50px;
	padding-bottom: 40px;
	margin-top: 44px;
}
.comment_input
{
	display: inline-block;
	width: calc(50% - 15px);
	height: 42px;
	border: none;
	outline: none;
	border-bottom: solid 1px #cccccc;
	background: transparent;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.comment_input:first-child
{
	margin-right: 25px;
}
.comment_input:hover,
.comment_text:hover
{
	border-color: rgba(0,0,0,1);
}
.comment_text
{
	width: 100%;
	height: 90px;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: solid 1px #cccccc;
	padding-top: 11px;
	margin-top: 23px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.comment_input::-webkit-input-placeholder,
.comment_text::-webkit-input-placeholder
{
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px !important;
	font-weight: 500 !important;
	color: rgba(0,0,0,0.3);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.comment_input:-moz-placeholder,
.comment_text:-moz-placeholder
{
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px !important;
	font-weight: 500 !important;
	color: rgba(0,0,0,0.3);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.comment_input::-moz-placeholder,
.comment_text::-moz-placeholder
{
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px !important;
	font-weight: 500 !important;
	color: rgba(0,0,0,0.3);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
} 
.comment_input:-ms-input-placeholder,
.comment_text:-ms-input-placeholder
{ 
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px !important;
	font-weight: 500 !important;
	color: rgba(0,0,0,0.3);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.comment_input::input-placeholder,
.comment_text::input-placeholder
{
	color: rgba(0,0,0,1);
}

.comment_input:hover::-webkit-input-placeholder,
.comment_text:hover::-webkit-input-placeholder
{
	color: rgba(0,0,0,1);
}
.comment_input:hover:-moz-placeholder,
.comment_text:hover:-moz-placeholder
{
	color: rgba(0,0,0,1);
}
.comment_input:hover::-moz-placeholder,
.comment_text:hover::-moz-placeholder
{
	color: rgba(0,0,0,1);
} 
.comment_input:hover:-ms-input-placeholder,
.comment_text:hover:-ms-input-placeholder
{ 
	color: rgba(0,0,0,1);
}
.comment_input:hover::input-placeholder,
.comment_text:hover::input-placeholder
{
	color: rgba(0,0,0,1);
}
.comment_button
{
	width: 143px;
	height: 36px;
	background: rgba(45,223,128,0.1);
	color: rgba(45,223,128,1);
	border: none;
	outline: none;
	border-radius: 18px;
	cursor: pointer;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	margin-top: 24px;
}
.comment_button:hover
{
	background: rgba(45,223,128,1);
	color: #FFFFFF;
}

/*********************************
6.5 Comments
*********************************/

.comments
{
	margin: 35px 0;
}
.comments_title
{
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: rgba(0,0,0,0.8);
}
.comments_container
{
	width: 100%;
	margin-top: 44px;
}
.comment_list > li
{
	margin-bottom: 15px;
}
.comment
{
	width: 100%;
	background: #FFFFFF;
	border-radius: 6px;
}
.comment_body
{
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 30px;
	padding-right: 30px;
}
.comment_author_image
{
	width: 34px;
	height: 34px;
	border-radius: 50%;
	overflow: hidden;
}
.comment_body .post_meta
{
	margin-top: 0;
	margin-left: 18px;
}
.reply_button
{
	width: 76px;
	height: 28px;
	background: rgba(45,223,128,0.1);
	color: rgba(45,223,128,1);
	border: none;
	outline: none;
	border-radius: 18px;
	cursor: pointer;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.reply_button:hover
{
	background: rgba(45,223,128,1);
	color: #FFFFFF;
}
.comment_content
{
	margin-top: 22px;
}
.comment ul li
{
	border-top: solid 1px #e5e5e5;
}

/*********************************
7. Cards
*********************************/

.card
{
	border: none;
	border-radius: 6px;
	margin-top: 15px;
}
.card-body
{
	padding-top: 16px;
	padding-left: 25px;
	padding-bottom: 15px;
}
.card-img-top
{
	border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}  
.card-title a
{
	font-size: 18px;
	font-weight: 600;
	color: rgba(0,0,0,1);
	line-height: 1.33;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.card-title-small a
{
	font-size: 16px;
	line-height: 1.375;
}
.card-title a:hover
{
	color: rgba(0,0,0,0.5);
}
.card-text
{
	margin-top: -1px;
}
.post_meta
{
	display: block;
	font-family: 'Ubuntu', sans-serif;
	color: rgba(0,0,0,0.4);
	font-size: 12px;
	font-weight: 500;
	margin-top: 22px;
}
.post_meta a,
.post_meta span
{
	display: inline-block;
	position: relative;
	font-family: 'Ubuntu', sans-serif;
	color: rgba(0,0,0,0.4);
	font-size: 12px;
	font-weight: 500;
}
.post_meta span
{
	margin-left: 10px;
	padding-left: 5px;
}
.post_meta span::before
{
	display: block;
	position: absolute;
	top: 1px;
	left: -4px;
	content: '•';
}
.post_row
{
	
}
.grid
{
	width: calc(100% + 30px);
}
.grid-item
{
	float: left;
}
.card_largest_with_image,
.card_large_with_background,
.card_large_with_image
{
	width: 555px;
	/*height: 325px;*/
}
.card_small_no_image,
.card_small_with_background,
.card_small_with_image,
.card_default_no_image,
.card_default_with_background
{
	width: 263px;
}
.card_small_with_image .card-body
{
	padding-top: 17px;
}
.card_small_with_image .post_meta
{
	margin-top: 32px;
}
.card_default:not(:last-child)
{
	/*margin-bottom: 15px;*/
}
.card_default .card-body
{
	padding-top: 17px;
}
.card_default .post_meta
{
	margin-top: 17px;
}
.card_small_with_background .card-title a
{
	color: #FFFFFF;
}
.card_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	border-radius: 6px;
	overflow: hidden;
}
.card_small_with_background .post_meta span,
.card_small_with_background .post_meta a
{
	color: rgba(255,255,255,0.5);
}
.card_small_with_background .post_meta
{
	margin-top: 18px;
}
.card_default_no_image .card-body
{
	padding-top: 16px;
	padding-bottom: 6px !important;
}
.card_default_no_image .card-title a
{
	font-size: 14px;
	line-height: 1.3;
	font-weight: 500;
}
.card_default_no_image .card-title
{
	line-height: 1.3;
}
.card_default_no_image .card-body
{
	padding-bottom: 10px;
}
.card_default_with_background .card-body
{
	padding-top: 16px;
	padding-bottom: 6px !important;
}
.card_default_with_background .card-title a
{
	font-size: 14px;
	line-height: 1.3;
	font-weight: 500;
	color: #FFFFFF;
}
.card_default_with_background .card-title
{
	line-height: 1.3;
}
.card_default_with_background .card-body
{
	padding-bottom: 10px;
}
.card_large_with_background .card-title a
{
	color: #FFFFFF;
	font-weight: 500;
}
.card_large_with_background .post_meta
{
	margin-top: 58px;
}
.card_large_with_background .post_meta span,
.card_large_with_background .post_meta a
{
	color: rgba(255,255,255,0.5);
}

/*********************************
8. Load More Button
*********************************/

.load_more
{
	margin-top: 36px;
}
