---
---
@charset "UTF-8";
@import "responsive";

/************
10. 767px
************/

@media only screen and (max-width: 767px)
{
	.post_body
	{
		padding-left: 49px;
		padding-right: 55px;
	}
}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
	.home_content
	{
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
	.post_title
	{
		font-size: 20px;
	}
	.post_panel .post_meta
	{
		font-size: 12px;
		margin-left: 10px;
	}
	.post_panel .post_meta a,
	.post_panel .post_meta span
	{
		font-size: 12px;
	}
	.post_panel_top .post_share
	{
		display: none;
	}
	.bottom_panel .author_image,
	.bottom_panel .post_meta
	{
		display: none;
	}
	.post_quote
	{
		padding-left: 0px;
		padding-right: 0px;
	}
	.post_p,
	.post_quote .post_p,
	.post_quote_source
	{
		font-size: 13px;
	}
	.card-body
	{
		padding-left: 15px;
		padding-right: 15px;
	}
	.comment_input
	{
		width: 100%;
	}
	.comment_input_email
	{
		margin-top: 20px;
	}
	.post_body
	{
		padding-left: 30px;
		padding-right: 40px;
	}
}